.usersPhoto{
    width: 100px;
    height: 100px;
}
.users{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.user{
    width: 20%;
    margin-bottom: 30px;
}
.selectedPage{
    font-weight: bold;

}
.pages{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.pages span{
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 5px;

    border-radius: 50% ;
}
