.grid{
  display: grid;
}
.app-wrapper{
  width: 90vw;
  max-width: 100%;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}
.app-wrapper__content{
    grid-area: c;
    
    
}
body{
  background-color: #e2fbff;
}


